* {
    box-sizing: border-box;
    text-align: center;
}
  
body {
    font-family: 'Merienda', cursive;
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    background-color: #640000;
}

h1 {
    margin-top: 12px; 
    font-size: 24px;
    color: #fff;
}
h2 {
    font-size: 18px;
    color: #fff;
}
p {
    display: inline;
    font-size: 48px;
}
img {
    margin-top: 48px; 
}

#winLose {
    font-size: 32px;
    font-weight: bold;
    color: white;
}
#reset {
    font-size: 24px;
}

footer {
    padding: 24px;
    clear: both;
}